.modal-container { 
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
}
.modal-container .modal-message {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 30%;
    background: #fff;
    padding: 20px 10px;
    font-size: 1.2em;
}
.modal-container .icon {
    display: block;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 32px;
    overflow: hidden;
    line-height: 40px;
    background: #7ce216;
    width: 96px;
    margin: 30px auto;	
    margin-bottom: 0;	
}
.button-red {
    background: #d70000;
}
.button:hover {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    background: #70cf10;
}
.button-red:hover {
    background: #d70000;
}